# Copy to .env before running Vagrant/Ansible/scripts.

# SSH and inventory
D2_VM_SSH_USER=vagrant
D2_DMZ_KEY_PATH=../../.vagrant/machines/dmz/virtualbox/private_key
D2_INTERNAL_KEY_PATH=../../.vagrant/machines/internal/virtualbox/private_key
D2_MGMT_KEY_PATH=../../.vagrant/machines/mgmt/virtualbox/private_key

# VM network
D2_DMZ_HOST=10.0.2.10
D2_DMZ_INTERNAL_HOST=10.0.1.10
D2_INTERNAL_HOST=10.0.1.11
D2_INTERNAL_MGMT_HOST=10.0.3.11
D2_MGMT_HOST=10.0.3.10

# VM resources
D2_DMZ_MEMORY=1024
D2_DMZ_CPUS=1
D2_INTERNAL_MEMORY=2048
D2_INTERNAL_CPUS=2
D2_MGMT_MEMORY=1024
D2_MGMT_CPUS=1

# Service ports
D2_GATEWAY_SSL_PORT=8443
D2_KEYCLOAK_PORT=8080
D2_OPA_PORT=8181
D2_DOC_PORT=5000
D2_QR_PORT=5002
D2_VAULT_PORT=8200

# Backend endpoints from DMZ
D2_BACKEND_KEYCLOAK=10.0.1.11:8080
D2_BACKEND_OPA=10.0.1.11:8181
D2_BACKEND_DOC=10.0.1.11:5000
D2_BACKEND_QR=10.0.1.11:5002

# Vault and crypto
VAULT_DEV_TOKEN=change-me-dev-root-token
D2_VAULT_ADDR=http://10.0.3.10:8200
D2_VAULT_API_ADDR=http://10.0.3.10:8200
D2_VAULT_LOCAL_ADDR=http://127.0.0.1:8200
D2_FALCON_KV_MOUNT=falcon-keys
D2_FALCON_ROTATION_SECONDS=15552000

# PKI and mTLS
D2_PKI_COMMON_NAME=GovPortal CA
D2_PKI_ALLOWED_DOMAIN=govportal.internal
D2_PKI_ROLE_MAX_TTL=2160h
D2_MTLS_CA_CN=govportal-internal-ca
D2_MTLS_CLIENT_CN=doc-service.govportal.internal
D2_SERVICE_CERT_COMMON_NAME=doc-service.govportal.internal

# Keycloak and DB
D2_KEYCLOAK_DB_NAME=keycloak
D2_KEYCLOAK_DB_USER=keycloak
D2_PG_PASS=change-me-postgres-password
D2_KC_ADMIN_USER=admin
D2_KC_ADMIN_PASS=change-me-keycloak-admin-password
D2_REDIS_HOST=redis
